<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns       = "http://www.w3.org/ns/widgets"
		xmlns:gap       = "http://phonegap.com/ns/1.0"
		id              = "com.jeanroldao.pushtalk"
		version         = "1.1.6">

	<name>PushTalk</name>

	<description>
		Phonegap push chat
	</description>

	<author href="http://jeanfarias.webcindario.com" email="jeanroldao@gmail.com">
		Jean Roldao
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
	</gap:platforms>
	
	<gap:config-file platform="android" parent="/manifest/application">
		<activity android:launchMode="singleInstance" />
	</gap:config-file>

	<feature name="http://api.phonegap.com/1.0/device"/>
	
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" />
	
	<preference name="permissions" value="none"/>
	<preference name="phonegap-version" value="3.3.0" />
	<preference name="android-installLocation" value="auto" />
	<preference name="android-targetSdkVersion" value="19" /> <!-- Android 4.4 -->

	<access origin="*" />
 </widget>