<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns           = "http://www.w3.org/ns/widgets"
		xmlns:gap       = "http://phonegap.com/ns/1.0"
		id              = "com.jeanroldao.pushtalk"
		version         = "1.1.5">

	<name>PushTalk</name>

	<description>
		Phonegap push chat
	</description>

	<author href="http://jeanfarias.webcindario.com" email="jeanroldao@gmail.com">
		Jean Roldao
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
	</gap:platforms>

	<feature name="http://api.phonegap.com/1.0/device"/>

	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="com.phonegap.plugins.pushplugin" />
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" />
	
	<gap:plugin name="nl.x-services.plugins.launchmyapp">
		<param name="URL_SCHEME" value="pushtalk" />
	</gap:plugin>

	<preference name="permissions" value="none"/>
	<preference name="phonegap-version" value="3.0.0" />
	<preference name="android-installLocation" value="auto" />

	<access origin="*" />
 </widget>